// Toggles


// Utilities
@import "mixins/breakpoints";
@import "mixins/hover";
@import "mixins/text-emphasis";
@import "mixins/visibility";

// // Layout
@import "mixins/grid";


// Cru mixins

// Content wrappers inside body
@mixin esl-wrapper {
  min-width: 318px;
  max-width: calc(100% - 2px);
  border: 1px solid $gray-d;
  border-width: 0 1px 0;
  margin: 0 auto;
  box-sizing: border-box;
  @include make-container-max-widths();
}

// Inner content wrapper
@mixin inner-content {
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
  max-width: 2 * $grid-gutter-width + 700px;
}

// Horizontal line
@mixin hr-sep( $color: $orange ) {
  content: '';
  display: block;
  height: 3px;
  background-color: $color;
  width: 100%;
  max-width: 290px;
  margin-bottom: 36px;
}
