// Variables


//
// Color system
//

$logo-orange: #e37d0b !default;
$logo-gray:   #8c8c8c !default;

$white:       #fff !default;
$gray-d:      #dddddd !default;
$gray-e:      #eeeeee !default;
$gray-6:      #666666 !default;
$gray-7:      #777777 !default;
$black:       #000 !default;

$gold:        #f9b625 !default;
$orange:      #dd7d1b !default;
$red:         #e46315 !default;
$blue:        #3eb1c8 !default;

$colors: (
  "gold":         $gold,
  "orange":       $orange,
  "red":          $red,
  "blue":         $blue
) !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 356px,
  md: 528px,
  lg: 800px,
  xl: 1084px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 320px,
  md: 480px,
  lg: 768px,
  xl: 1024px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 20px !default;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-serif:       'PT Serif', serif !default;
$font-family-sans-serif:  'PT Sans', sans-serif !default;
